@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* Slate-900 */
  
  --swimwell-aqua: #06b6d4; /* Cyan-500 */
  --swimwell-dark: #0f172a; /* Slate-900 */
  --swimwell-light: #ecfeff; /* Cyan-50 */
  --swimwell-accent: #facc15; /* Yellow-400 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-swimwell-aqua: var(--swimwell-aqua);
  --color-swimwell-dark: var(--swimwell-dark);
  --color-swimwell-light: var(--swimwell-light);
  --color-swimwell-accent: var(--swimwell-accent);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
